.myInfoInput {
  padding: 10px 15px;
  margin-bottom: 10px;

 .inputContainer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px 8px;
   border-bottom: 1px solid var(--light-gray-color);

   .title {
     font-size: 13px;
     color: var(--dark-gray-color);
   }

   input {
     border: none;
     width: 200px;
     font-size: 14px;
     font-weight: 300;
     color: black;
     text-align: right;
     text-overflow:ellipsis;
     white-space:nowrap;
     word-wrap:normal;
     overflow:hidden;

     &:focus {
       outline: none;
     }
   }
 }
}