.bottom {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 375px;
  height: 80px;
  background-color: white;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.16);
  z-index: 1;
  .center {
    margin: 0 68px;
  }
}
