.ValidationMessage {
  margin: 0 20px;
  font-size: 12px;
  line-height: 2;
  border: none;
}

.valid {
  color: var(--success-color);
}

.inValid {
  color: var(--error-color);
}

.warning {
  color: var(--error-color);
}
