.Terms {
  padding: 10px 0;
  margin-bottom: 20px;
  
  .title {
    width: 171px;
    height: 29px;
    margin: 16px 90px 30px 15px;
    font-family: NotoSansCJKkr;
    font-size: 20px;
    font-weight: bold;
    line-height: 2.2;
    text-align: left;
    color: #000000;
  }

  .totalCheckBoxCon {
    display: flex;
    margin: 0 15px;
    padding: 20px 0 0 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    font-family: NotoSansCJKkr;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    text-align: left;
    color: #282828;
  }

  .checkBoxCon {
    height: 168px;
    border-bottom: 1px solid #e5e5e5;
    padding: 14px 0;
    margin: 0 15px;
    color: #595959;
  }
}