.companyAddress {
  height: 667px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .header {
    width: 375px;
    margin: 0 auto;
    height: 75px;
    background-color: #ffffff;
    font-size: 15px;
    border-bottom: 1px solid var(--light-gray-color);

    .headerBox {
      height: 24px;
      margin: 0 0 10px;
      background-color: #f1f4f6;
    }

    button {
      padding: 10px;
      margin-left: 10px;
      border: none;
      background-color: white;

      &:focus {
        outline: none;
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
    margin: 0 auto;
    height: calc(100% - 75px);

    .confirmBtn {
      width: 345px;
      height: 46px;
      margin: 40px 15px 0;
      padding: 11px 148px 11px 150px;
      border-radius: 8px;
      border: none;
      background-color: var(--main-color);
      color: white;
      font-weight: 300;

      &:focus {
        outline: none;
      }
    }

    // .active {
    //   background-color: #1877fc;
    // }
  }
}
