@import "../../../../styles/common.scss";

.company {
  width: 375px;
  height: 1438px;
  margin: 0 auto;
  padding: 0 0 40px;
  background-color: #ffffff;
  font-family: "Noto Sans KR", "Noto Sans", sans-serif;

  .header {
    height: 75px;
    background-color: #ffffff;

    div {
      height: 24px;
      margin: 0 0 10px;
      background-color: #f1f4f6;
    }

    button {
      padding: 10px;
      margin-left: 10px;
      border: none;
      background-color: white;

      &:focus {
        outline: none;
      }
    }
  }

  .container {
    height: calc(100% - 75px);

    form {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .signUpSection {
      margin: 10px 0;

      .title {
        display: inline-block;
        width: 171px;
        height: 29px;
        margin: 10px 90px 20px 15px;
        font-family: NotoSansCJKkr;
        font-size: 20px;
        font-weight: bold;
        line-height: 2.2;
        text-align: left;
        color: #000000;
      }

      .mainInputCon {
        padding: 10px 0;

        .basicInput {
          @include inputCon;
        }

        .inputWithBtn {
          @include inputCon;

          input {
            width: 170px;
          }

          button {
            height: 28px;
            margin: 0px 15px 5px 62px;
            padding: 0 10px;
            border-radius: 14px;
            border: none;
            background-color: #bdbdbd;
            font-size: 13px;
            line-height: 28px;
            color: #ffffff;

            &:focus {
              outline: none;
            }
          }

          .active {
            background-color: #1877fc;
          }
        }

        .active {
          border-bottom: 1px solid #1877fc;
        }

        .valid {
          border-bottom: 1px solid #01b856;
          color: #01b856;
        }

        .inValid {
          border-bottom: 1px solid #ff2929;
          color: #ff2929;
        }

        .message {
          margin: 0 20px;
          font-size: 12px;
          line-height: 2;
          border: none;
        }
      }
    }

    .createBtn {
      width: 345px;
      height: 46px;
      margin: 40px 15px 0;
      padding: 11px 148px 11px 150px;
      border-radius: 8px;
      border: none;
      background-color: #bdbdbd;
      color: white;
      font-weight: 300;

      &:focus {
        outline: none;
      }
    }

    .active {
      background-color: #1877fc;
    }
  }
}
