.myCall {
  background-color: var(--paleblue-color);

  .topContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1;
  }

  .container {
    position: relative;
    width: 375px;
    min-height: 667px;
    padding: 123px 0 15px 0;

    .cards {
      position: relative;
    }
  }
}
