.switch {
  display: flex;

  .switchInput {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  .switchLabel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 65px;
    height: 30px;
    background: grey;
    border-radius: 100px;
    position: relative;
    transition: background-color 0.2s;

    &:active {
      .switchButton {
        width: 60px;
      }
    }

    .switchButton {
      content: "";
      position: absolute;
      line-height: 24px;
      right: 4px;
      width: 24px;
      height: 24px;
      border-radius: 45px;
      transition: 0.2s;
      background: #fff;
      box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
    }

    span {
      color: white;
      font-size: 13px;
    }

    .on {
      display: none;
    }

    .off {
      position: absolute;
      left: 7px;
    }
  }

  .switchInput:checked ~ .switchLabel {
    background-color: var(--main-color);

    .switchButton {
      right: calc(100% - 4px);
      transform: translateX(100%);
    }

    .on {
      display: block;
      position: absolute;
      right: 7px;
    }

    .off {
      display: none;
    }
  }
}
