.search {
  position: relative;
  height: 667px;
  .top {
    height: 24px;
    background-color: var(--paleblue-color);
  }

  .backArrow {
    padding: 20px;
  }

  .searchContainer {
    display: flex;
    justify-content: space-around;
    font-size: 14px;

    div {
      padding-bottom: 7px;
      color: var(--dark-gray-color);
      text-align: center;
      border-bottom: 1px solid var(--dark-gray-color);
      flex: 1;
    }

    .on {
      color: black;
      font-weight: 500;
      border-bottom: 2px solid var(--main-color);
    }
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 592px;
    padding-top: 31px;
  }
}
