@mixin commonBtn {
  width: 345px;
  height: 46px;
  margin: 0 auto;
  outline: none;
  color: white;
  border: none;
  border-radius: 8px;
  line-height: 46px;
}

.off {
  @include commonBtn;
  background-color: var(--dark-gray-color);
}

.on {
  @include commonBtn;
  background-color: var(--main-color);
}
