@import "../../../../styles/common.scss";

.employee {
  width: 375px;
  height: 667px;
  margin: 0 auto;

  .header {
    width: 375px;
    height: 75px;
    background-color: #ffffff;
    font-size: 15px;

    div {
      height: 24px;
      margin: 0 0 10px;
      background-color: #f1f4f6;
    }

    button {
      padding: 10px;
      margin-left: 10px;
      border: none;
      background-color: white;

      &:focus {
        outline: none;
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
    height: calc(100% - 75px);

    .businessInfo {
      @include registerSection;
    }

    .createBtn {
      width: 345px;
      height: 46px;
      margin: 40px 15px 0;
      padding: 11px 148px 11px 150px;
      border-radius: 8px;
      border: none;
      background-color: var(--dark-gray-color);
      color: white;
      font-weight: 300;

      &:focus {
        outline: none;
      }
    }

    .active {
      background-color: var(--main-color);
    }
  }
}
