.inputWrapper {
  // display: flex;
  // justify-content: space-between;
  // margin-right: 15px;
  margin-top: 16px;
  padding: 10px;
  // border-bottom: 1px solid #f6f6f6;

  input {
    width: 345px;
    height: 28px;
    border: none;
    padding: 0 0 8px 5px;
    border-bottom: 1px solid #f6f6f6;

    &::placeholder {
      font-size: 13px;
      line-height: 1.85;
      text-align: left;
      color: #bdbdbd;
    }

    &:focus {
      outline: none;
    }
  }
}