.Button {
  height: 28px;
  margin: 0px 15px 5px 62px;
  padding: 0 10px;
  border-radius: 14px;
  border: none;
  background-color: #bdbdbd;
  font-size: 13px;
  line-height: 28px;
  color: #ffffff;

  &:focus {
    outline: none;
  }
}

.active {
  background-color: #1877fc;
}
