:root {
  --main-color: #1877f2;
  --dark-gray-color: #bdbdbd;
  --gray-color: #e5e5e5;
  --light-gray-color: #f6f6f6;
  --paleblue-color: #f1f4f6;
  --success-color: #01b856;
  --error-color: #ff2929;
  --notice-color: #ff6328;
  --chat-color: #ecf4ff;
  --dark-color: #282828;
}
