:root {
  --main-color: #1877f2;
  --dark-gray-color: #bdbdbd;
  --gray-color: #e5e5e5;
  --light-gray-color: #f6f6f6;
  --paleblue-color: #f1f4f6;
  --success-color: #01b856;
  --error-color: #ff2929;
  --notice-color: #ff6328;
  --chat-color: #ecf4ff;
}

@mixin inputCon {
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
  border-bottom: 1px solid #f6f6f6;

  input {
    width: 340px;
    height: 28px;
    padding-left: 5px;
    border: none;
    font-size: 14px;
    font-weight: 400;

    &::placeholder {
      color: #bdbdbd;
      text-align: left;
      line-height: 1.85;
      font-size: 13px;
    }

    &:focus {
      outline: none;
    }
  }
}

@mixin registerSection {
  margin: 10px 0;

  .title {
    display: inline-block;
    width: 200px;
    height: 29px;
    margin: 10px 90px 20px 15px;
    color: #000000;
    text-align: left;
    line-height: 2.2;
    font-size: 20px;
    font-weight: bold;
  }

  .mainInputCon {
    padding: 10px 0;

    .basicInput {
      @include inputCon;
    }

    .inputWithBtn {
      @include inputCon;

      input {
        width: 200px;
      }

      button {
        height: 28px;
        margin: 0px 15px 5px 10px;
        padding: 0 10px;
        background-color: #bdbdbd;
        color: #ffffff;
        border: none;
        border-radius: 14px;
        line-height: 28px;
        font-size: 13px;

        &:focus {
          outline: none;
        }
      }

      .active {
        background-color: #1877fc;
      }
    }

    .active {
      border-bottom: 1px solid #1877fc;
    }

    .valid {
      color: #01b856;
      border-bottom: 1px solid #01b856;
    }

    .inValid {
      color: #ff2929;
      border-bottom: 1px solid #ff2929;
    }

    .message {
      margin: 0 20px;
      border: none;
      line-height: 2;
      font-size: 12px;
    }
  }
}
