.more {
  height: 100vh;
  position: relative;
  .userId {
    height: 118px;
    border-top: 2px solid var(--light-gray-color);
    border-bottom: 2px solid var(--light-gray-color);

    .mainTitle {
      display: block;
      margin: 21px auto 8px 15px;
      color: #282828;
      font-size: 16px;
    }

    .userInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 15px;

      span {
        color: #282828;
        font-size: 20px;
        font-weight: 600;
      }

      button {
        width: 62px;
        height: 24px;
        outline: none;
        color: var(--main-color);
        background-color: white;
        border: 1px solid var(--main-color);
        border-radius: 15px;
      }
    }
  }

  .lists {
    li {
      height: 50px;
      padding: 15px;
      border-bottom: 2px solid var(--light-gray-color);
    }
  }

  section {
    position: absolute;
    left: 0;
    right: 0;
  }

  .modalBackground {
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    opacity: 0.75;
    background-color: #282828;
    z-index: 10;
  }
}
